* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* ::after,
::before {
  box-sizing: inherit;
}

.controls {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.button {
  padding: 8px 16px;
  border-radius: 4px;
  background-color: rgb(250, 235, 215);
  cursor: pointer;
}

.button:hover {
  background-color: rgba(250, 235, 215, 0.5);
}

.grid {
  margin: 50px auto;
  width: 800px;
  flex-wrap: wrap;
  display: flex;
}

.grid__item {
  border: 1px solid black;
  outline: 1px solid black;
}

.grid__item--visited {
  background-color: aquamarine;
}